:root{
    --primary-color: #4CAF50;
    --secondary-color: #dbdbdb;
    --tertiary-color: #e50000;
    --text-color-light: #ffffff;
    --text-color-dark: #000000;
    --font-family: 'Arial, sans-serif';
    --padding: 20px;
}

*, html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

body{
    background-color: var(--text-color-light);
    height: 100vh;
}

.container{
    padding: var(--padding);
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 10px;
    height: 100vh;
}

.header{
    background-color: var(--primary-color);
    color: var(--text-color-light);
    padding: var(--padding);
    text-align: center;
    border-radius: 8px;
    grid-row: 1 / 2;
    padding: var(--padding);
}

.options-bar{
    background-color: var(--tertiary-color);
    color: var(--text-color-light);
    padding: var(--padding);
    border-radius: 8px;
    grid-row: 2 / 3;
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.options-bar button{
    padding: 10px 15px;
    border: 3px solid var(--text-color-light);
    border-radius: 8px;
    background-color: var(--text-color-light);
    color: var(--text-color-dark);
    cursor: pointer;
    font-size: 1rem;
}

.options-bar button:hover{
    background-color: var(--text-color-dark);
    color: var(--text-color-light);
}

.options-bar button:active{
    transform: scale(0.98);
}

.add-book-dialog{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

::backdrop{
    background: rgba(0, 0, 0, 0.5);
}

.add-book-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 400px;
    max-height: 900px;
    padding: var(--padding);
    background-color: var(--text-color-light);
    border: 3px solid var(--tertiary-color);
    border-radius: 8px;
    overflow-y: auto;
    font-size: 24px;
}

.add-book-form input, .add-book-form textarea, .add-book-form select{
    padding: 10px;
    border: 2px solid var(--tertiary-color);
    border-radius: 5px;
    width: 100%;
}

.add-book-form label{
    font-weight: bold;
}

.add-book-form button{
    padding: 10px 15px;
    border: 3px solid var(--tertiary-color);
    border-radius: 8px;
    background-color: var(--text-color-light);
    color: var(--text-color-dark);
    cursor: pointer;
}

.book-section{
    grid-row: 3 / 4;
    background-color: var(--secondary-color);
    padding: var(--padding);
    border-radius: 8px;
    overflow-y: auto;
}

.book-card-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: min-max(250px, auto);
    gap: 15px;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    background-color: var(--text-color-light);
    border: 3px solid var(--tertiary-color);
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card button{
    padding: 10px 15px;
    border: 3px solid var(--tertiary-color);
    border-radius: 8px;
    background-color: var(--text-color-light);
    color: var(--text-color-dark);
    cursor: pointer;
    font-size: 1rem;
}

.card button:hover{
    background-color: var(--tertiary-color);
    color: var(--text-color-light);
}

.card button:active{
    transform: scale(0.98);
}

.removed{
    opacity: 0.85;
    transform: scale(0.98);
}